@font-face {
   font-family: Audiowide;
   src: url(media/fonts/Audiowide/Audiowide-Regular.ttf);
}
@font-face {
   font-family: Bubbler_One;
   src: url(media/fonts/Bubbler_One/BubblerOne-Regular.ttf);
}
@font-face {
   font-family: Bungee_Hairline;
   src: url(media/fonts/Bungee_Hairline/BungeeHairline-Regular.ttf);
}
@font-face {
   font-family: Bungee_Inline;
   src: url(media/fonts/Bungee_Inline/BungeeInline-Regular.ttf);
}
@font-face {
   font-family: Codystar_Light;
   src: url(media/fonts/Codystar/Codystar-Light.ttf);
}
@font-face {
   font-family: Codystar_Regular;
   src: url(media/fonts/Codystar/Codystar-Regular.ttf);
}
@font-face {
   font-family: Julius_Sans_One;
   src: url(media/fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf);
}
@font-face {
   font-family: Megrim;
   src: url(media/fonts/Megrim/Megrim.ttf);
}
@font-face {
   font-family: Monoton;
   src: url(media/fonts/Monoton/Monoton-Regular.ttf);
}
@font-face {
   font-family: Orbitron_Black;
   src: url(media/fonts/Orbitron/Orbitron-Black.ttf);
}
@font-face {
   font-family: Orbitron_Bold;
   src: url(media/fonts/Orbitron/Orbitron-Bold.ttf);
}
@font-face {
   font-family: Orbitron_Medium;
   src: url(media/fonts/Orbitron/Orbitron-Medium.ttf);
}
@font-face {
   font-family: Orbitron_Regular;
   src: url(media/fonts/Orbitron/Orbitron-Regular.ttf);
}
@font-face {
   font-family: Plaster;
   src: url(media/fonts/Plaster/Plaster-Regular.ttf);
}
@font-face {
   font-family: Pompiere;
   src: url(media/fonts/Pompiere/Pompiere-Regular.ttf);
}
@font-face {
   font-family: Wire_One;
   src: url(media/fonts/Wire_One/WireOne.ttf);
}