@font-face {
   font-family: Audiowide;
   src: url(Audiowide/Audiowide-Regular.ttf);
}
@font-face {
   font-family: Bubbler_One;
   src: url(Bubbler_One/BubblerOne-Regular.ttf);
}
@font-face {
   font-family: Bungee_Hairline;
   src: url(Bungee_Hairline/BungeeHairline-Regular.ttf);
}
@font-face {
   font-family: Bungee_Inline;
   src: url(Bungee_Inline/BungeeInline-Regular.ttf);
}
@font-face {
   font-family: Codystar_Light;
   src: url(Codystar/Codystar-Light.ttf);
}
@font-face {
   font-family: Codystar_Regular;
   src: url(Codystar/Codystar-Regular.ttf);
}
@font-face {
   font-family: Julius_Sans_One;
   src: url(Julius_Sans_One/JuliusSansOne-Regular.ttf);
}
@font-face {
   font-family: Megrim;
   src: url(Megrim/Megrim.ttf);
}
@font-face {
   font-family: Monoton;
   src: url(Monoton/Monoton-Regular.ttf);
}
@font-face {
   font-family: Orbitron_Black;
   src: url(Orbitron/Orbitron-Black.ttf);
}
@font-face {
   font-family: Orbitron_Bold;
   src: url(Orbitron/Orbitron-Bold.ttf);
}
@font-face {
   font-family: Orbitron_Medium;
   src: url(Orbitron/Orbitron-Medium.ttf);
}
@font-face {
   font-family: Orbitron_Regular;
   src: url(Orbitron/Orbitron-Regular.ttf);
}
@font-face {
   font-family: Plaster;
   src: url(Plaster/Plaster-Regular.ttf);
}
@font-face {
   font-family: Pompiere;
   src: url(Pompiere/Pompiere-Regular.ttf);
}
@font-face {
   font-family: Wire_One;
   src: url(Wire_One/WireOne.ttf);
}
header {
	text-align: center;
	font-family: Courier New, Helvetica, Arial;
	font-size: 1.5em;
}

main {
	text-align: center;
}

#n1,
#n2,
#n3,
#n4,
#n5,
#n6,
#n7,
#n8,
#n9,
#n10,
#n11,
#n12,
#n13,
#n14,
#n15,
#n16 {
	font-size: 2em;
}

#n1 {
	font-family: Audiowide;
}
#n2 {
	font-family: Bubbler_One;
}
#n3 {
	font-family: Bungee_Hairline;
}
#n4 {
	font-family: Bungee_Inline;
}
#n5 {
	font-family: Codystar_Light;
}
#n6 {
	font-family: Codystar_Regular;
}
#n7 {
	font-family: Julius_Sans_One;
}
#n8 {
	font-family: Megrim;
}
#n9 {
	font-family: Monoton;
}
#n10 {
	font-family: Orbitron_Black;
}
#n11 {
	font-family: Orbitron_Bold;
}
#n12 {
	font-family: Orbitron_Medium;
}
#n13 {
	font-family: Orbitron_Regular;
}
#n14 {
	font-family: Plaster;
}
#n15 {
	font-family: Pompiere;
}
#n16 {
	font-family: Wire_One;
}